<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAlarmClockService" />
                <binding name="BasicHttpBinding_IAlarmClockService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:34790/AlarmClockWCFServiceIIS.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAlarmClockService"
                contract="AlarmClockService.IAlarmClockService" name="BasicHttpBinding_IAlarmClockService" />
            <endpoint address="http://localhost:34790/AlarmClockWCFServiceIIS.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAlarmClockService1"
                contract="AlarmSevice.IAlarmClockService" name="BasicHttpBinding_IAlarmClockService1" />
        </client>
    </system.serviceModel>
</configuration>