<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework,
             Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="KMA.APZRP2019.AlarmClock.Server.WCFServer.ServBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="KMA.APZRP2019.AlarmClock.Server.AlarmClockServiceImpl.AlarmClockImpl"
               behaviorConfiguration="KMA.APZRP2019.AlarmClock.Server.WCFServer.ServBehavior">
        <endpoint address="http://localhost:34790/AlarmClockImpl" binding="basicHttpBinding" 
                  contract="KMA.APZRP2019.AlarmClock.Server.Interface.IAlarmClockService"/>
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter  value="v11.0"/><!--value="mssqllocaldb" />-->
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, 
                EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

</configuration>